
@{
    ViewData["Title"] = "Profile";
}
@model Users

<h1 class="badge text-dark badge-info rounded badge-pill">Welcome @Model.Name</h1>

<div class=" col-md-8  mt-3">
    <input type="hidden" asp-for="Id" />
    <div class="col">
        <label class="form-label">Name:<strong>@Model.Name</strong></label>
    </div>
    <div class="col-md-4">
        <label class="form-label">Email:<strong>@Model.Email</strong></label>
    </div>
    <div class="col">
        <label class="form-label">Phone Number:<strong>@Model.PhoneNumber</strong></label>
    </div>
    <div class="col">
        <center>
            <a class="btn btn-info btn-sm"   asp-action="Update" asp-controller="User"  asp-route-Id="@Model.Id">Update</a>

          
        </center>
    </div>
</div>

